<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/producer/producer_request_form_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">
    <title>Become Producer</title>
</head>
<body>

<div th:replace="includes/header :: header"></div>
<div class="container" th:if="${status.equals('CLIENT')}">
    <div class="producer-main-text-block">
        <span class="main-text">FILL THE FORM TO BECOME A PRODUCE</span>
    </div>
    <div class="data-fields">
        <form>
            <div class="input-block">
                <div class="inner-block">
                    <label class="label-field">Enter your Brand Name</label>
                    <input class="brand-name-field" type="text" name="brand-name" required>
                </div>
                <div class="inner-block">
                    <label class="label-field">Please, select the country where you are producing your product</label>
                    <select class="select-field" id="selected_country" required>
                        <option value="">-- Select country --</option>
                        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                    </select>
                </div>
                <div class="inner-block">
                    <label class="label-field">Enter your work email for contact </label>
                    <input class="producer-contact-mail" type="email" name="producer-mail">
                </div>
                <div class="inner-block">
                    <label class="label-field">Please, describe your product</label>
                    <textarea placeholder="Write information about your product...." class="producer-description"
                              required oninput="removerFirstSpaces(this)">
                    </textarea>
                </div>
            </div>
            <div class="button-block">
                <button type="button" class="send-producer-request" onclick="validateBeforeSend()">SEND</button>
            </div>
        </form>
    </div>
</div>

<div class="container" th:if="${status.equals('ON_MODERATION')}">
    <span class="main-text">Your request is in progress....Just wait</span>
</div>

<div class="container" th:if="${status.equals('PRODUCER')}">
    <span class="main-text">Your are already a producer :)</span>
</div>


<div id="notification" class="notification">

</div>

<div th:replace="includes/footer :: footer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }

    $(document).ready(function () {
        var $input = $('.producer-description');
        $input.val($input.val().replace(/\s/g, ''));
    });

    function removerFirstSpaces(element) {
        if (element.value.trim() === '') {
            element.value = '';
        }
    }

    function validateBeforeSend() {
        var brand = $('.brand-name-field').val();
        var country = $('.select-field').val();
        var mail = $('.producer-contact-mail').val();
        var desc = $('.producer-description').val();
        var data;
        if (brand.trim() !== '' && country !== '' && country !== null && mail.trim() !== '' && desc.trim() !== '') {
            data = {
                "request_brand_name": brand,
                "request_producer_country": country,
                "request_producer_mail": mail,
                "request_producer_product_description": desc
            };
            sendProducerRequest(data);
        } else {
            showNotification('Please fill in all fields', 2000);
        }
    }

    function sendProducerRequest(data) {
        var token = $("meta[name='_csrf']").attr("content");
        var tag = "PRODUCER_NEW";
        $.ajax({
            url: '/shop/api/help/producer',
            type: 'POST',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                tag: tag,
                data_inf: data
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', token);
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    showNotification("You request has been send successfully!", 1000)
                    setTimeout(function () {
                        window.location.href = '/shop/catalog';
                    }, 1000);
                }
            },
            error(data, status, xhr) {
                alert(data.responseText);
            },
        });
    }


</script>

</body>
</html>