<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web Requests</title>
    <link rel="stylesheet" th:href="@{/admin/request_page_style.css}">
</head>
<body>
<div class="filter-container">
    <form class="filter-form" action="">
        <input type="hidden" th:name="page" th:value="${page}">
        <div class="selection-container"
             th:each="reqTag : ${T(com.example.mongo_db.Entity.Requests.Types.RequestTags).values()}">
            <label th:text="${reqTag}"></label>
            <input class="filter-checkbox" id="bug-checkbox" type="checkbox" th:name="tag" th:value="${reqTag}"
                   onchange="redirectByCheckedCheckBox(this)"
                   th:checked="${tags != null && tags.contains(reqTag.name())}">
        </div>
        <button type="submit">Filter</button>
    </form>
</div>
<div class="container" th:if="${requests_data != null}">
    <div class="list-of-requests" th:each="request : ${requests_data.content}">
        <div class="request-block">
            <div class="tag-block">
                <span id="request-id" th:value="${request.id}" th:text="${request.id}">ID</span>
                <span th:text="${request.tag}">TAG</span>
                <input type="hidden" id="_csrf_token" name="_csrf" th:content="${_csrf.token}">
            </div>
            <div class="data-information-block">
                <span th:if="${request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).BUG}"
                      th:text="${request.data_inf}">DATA</span>
                <span th:if="${request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).CLIENT_QOS}"
                      th:text="${request.data_inf}">DATA</span>
                <span th:if="${request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).PRODUCER_NEW}">
                    <span th:text="${request.data_inf.request_brand_name}"></span>
                    <span th:text="${request.data_inf.request_producer_country}"></span>
                    <span th:text="${request.data_inf.request_producer_mail}"></span>
                    <span th:text="${request.data_inf.request_producer_product_description}"></span>
                </span>
            </div>
            <div class="sender-info-block">
                <label>Sender</label>
                <span th:text="${request.request_sender.id}"></span>
                <span th:text="${request.request_sender.mail}"></span>
                <span th:text="${request.request_sender.client_user_name}"></span>
            </div>
            <div class="decision-block"
                 th:if="${request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).BUG || request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).CLIENT_QOS}">
                <button class="apply-button" onclick="sendAdminsRequest(this)">APPLY</button>
                <button class="deny-button" onclick="sendAdminsRequest(this)">REMOVE</button>
            </div>
            <div class="decision-block"
                 th:if="${request.tag == T(com.example.mongo_db.Entity.Requests.Types.RequestTags).PRODUCER_NEW}">
                <button class="apply-button-button" onclick="sendAdminsRequest(this)">APPLY</button>
                <button class="deny-button" onclick="sendAdminsRequest(this)">DENY</button>
            </div>
        </div>
    </div>
</div>
<div class="pagination-block" th:if="${requests_data.totalPages >= 0}">
    <form class="pagination-form" action="">
        <input type="hidden" th:name="tag" th:if="${tags != null}"
               th:attr="value=${#strings.arrayJoin(tags, ',')}">
        <div th:each="pageNumber : ${#numbers.sequence(0, requests_data.totalPages - 1)}">
            <button th:if="${pageNumber>=0}" type="submit" th:name="page" th:value="${pageNumber}"
                    th:text="${pageNumber}"></button>
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function sendAdminsRequest(element) {
        var csrf_token = $('#_csrf_token').attr("content");
        var id = $(element).closest('.request-block').find('#request-id').attr('value');
        var textContent = $(element).text();
        $.ajax({
            url: '/shop/api/admin/requests',
            type: 'POST',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                request_id: id,
                operation: textContent
            }),
            beforeSend(xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', csrf_token);
            },
            success(data, status, xhr) {
                if (xhr.status === 200) {
                    $(element).closest('.request-block').remove();
                }
            },
            error(data, status, xhr) {
                alert(data.responseText)
            }
        });
    }
</script>
</body>
</html>