<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Clients</title>
</head>
<body>

<div class="filter-container">
    <form class="filter-form" action="">
        <input type="hidden" th:name="page" th:value="${page}">
        <div th:each="role : ${T(com.example.mongo_db.Entity.Role).values()}">
            <input type="checkbox" th:name="roles" th:value="${role.name}"
                   th:checked="${checked_roles != null && checked_roles.contains(role.name)}" th:text="${role.name}">
        </div>
        <button type="submit">Filter</button>
    </form>
</div>

<div class="container">
    <div class="clients" th:each="client : ${clients}">
        <div class="client-block">
            <div class="client-image-block">
                <img th:src="@{'data:image/*;base64,'+ ${client.client_image.image}}" style="height: 50px;">
            </div>
            <div class="client-main-information">
                <label>Name : </label>
                <span th:text="${client.name}"></span>
                <label>Second Name : </label>
                <span th:text="${client.name}"></span>
                <label>ID : </label>
                <span th:text="${client.id}"></span>
                <label>Mail : </label>
                <span th:text="${client.mail}"></span>
            </div>
            <h4 th:text="${client.role}"></h4>

            <div class="">
                <a>View Log List</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>