<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web Requests</title>
</head>
<body>



<div class="container">
    <div class="list-of-requests">
        <div class="request">
            <div class="tag-block">
                <span>TAG</span>
            </div>
            <div class="data-information-block">
                <span>DATA</span>
            </div>
            <div class="sender-info-block">

            </div>
            <div class="decision-block">
                <button>Apply</button>
                <button>Deny</button>
            </div>

            <div class="decision-block">
                <button>Apply</button>
                <button>Remove</button>
            </div>

        </div>
    </div>
</div>


</body>
</html>