.shop-footer {
    position: absolute;
    width: 100%;
    height: 170px;
    background: rgb(31, 33, 33, 0.7);
    display: flex;
    flex-direction: column;
    bottom: 0;
    margin-top: 50px;
}

.details-container {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.my_info-container,
.stack-container,
.footer-logo-container {
    width: 33%;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about-me-text,
#stack-text {
    font-size: 15px;
    color: white;
    font-family: Arial;
    text-decoration: underline;
}

.my-links,
.stack {
    color: white;
    font-size: 13px;
    font-family: Arial;
}

#footer-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.footer-text-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#footer-main-text {
    font-size: 13px;
    color: white;
    font-family: Arial;
}

#footer-secondary-text {
    font-size: 12px;
    color: white;
    font-family: Arial;
}

#footer-third-text {
    font-size: 10px;
    color: white;
    font-family: Arial;
}