
.shop-header {
    width: 100%;
    height: 100px;
    background: rgb(31, 33, 33, 0.7);
    border: none;
    display: flex;
    flex-direction: row;
}

.logo-block-link {
    width: 20%;
    display: flex;
    align-items: center;
}

.header-logo {
    width: 230px;
    height: 80px;
    backdrop-filter: opacity(0.8);
}

.header-links-block {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.header-link {
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    color: white;
}

.header-account-link {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#account-link-logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.account-inner-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.spaced-slash {
    text-decoration: none;
    font-size: 15px;
    font-family: Arial;
    color: white;
    margin: 0 10px;
}