
.members-container {
    margin-top: 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    font-family: "Times New Roman";
    font-size: 20px;
    background-color: #ccc;
    text-align: center;
}

td {
    font-family: "Times New Roman";
    font-size: 15px;
    margin-top: 10px;
    text-align: center;
}

.links-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.button-link {
    width: 150px;
    height: 30px;
    background: none;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid black;
}

.link {
    text-decoration: none;
    color: black;
    font-family: "Times New Roman";
    font-size: 18px;
}