<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <title>Catalog</title>
    <link rel="stylesheet" th:href="@{/items/catalog_items_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">
</head>
<body>
<div th:replace="includes/header :: header"></div>


<div class="container" th:if="${page_information != null}">
    <div class="items-block">
        <ul class="list-of-items" th:each="item : ${page_information.content}" onmouseenter="displayAddToCartButton(event)"
            onmouseleave="hideAddToCartButton(event)">
            <a class="item-link" th:href="@{/shop/catalog/item/__${item.id}__}">
                <div class="item">
                    <div class="product-image-block">

                        <img th:if="${item.item.item_image.image == ''}" class="product-image"
                             th:src="@{/images/default_item_icon.png}">
                    </div>
                    <div class="product-info-block">
                            <span class="product-item-info" th:class="item-id" th:data-item-id="${item.id}"
                                  th:text="${item.item.name}"
                                  th:value="${item.id}">name</span>
                        <div class="product-name-block">
                        </div>

                        <div class="product-producer-block">
                            <!--                            <span class="product-item-info" th:text="${item.item.producer}">producer</span>-->
                            <span class="product-item-info"> / </span>
                            <span class="product-item-info" th:text="${item.item.gender}">gender</span>
                        </div>

                        <div class="product-bottom-block">
                            <span class="product-item-info" th:text="${item.item.price}">price</span>
                        </div>
                    </div>

                </div>
            </a>
            <button class="add-to-bucket-button" id="add-to-bucket" disabled onclick="addToBucket(this)">ADD TO BUCKET
            </button>
        </ul>
    </div>


    <div th:if="${page_information.totalPages > 0}" class="pagination" th:each="pageNumber : ${page_count}">
        <a th:href="@{/shop/catalog?page=__${pageNumber}__}" th:text="${pageNumber}"></a>
    </div>

</div>


<div class="container" th:if="${category_page_information != null}">
    <div class="items-block">
        <ul class="list-of-items" th:each="item : ${category_page_information.content}" onmouseenter="displayAddToCartButton(event)"
            onmouseleave="hideAddToCartButton(event)">
            <a class="item-link" th:href="@{/shop/catalog/item/__${item.id}__}">
                <div class="item">
                    <div class="product-image-block">
                        <img class="product-image" th:src="@{/images/default_item_icon.png}">
                    </div>
                    <div class="product-info-block">
                        <div class="product-name-block">
                            <span class="product-item-info" th:class="item-id"
                                  th:text="${item.item.name}"
                                  th:value="${item.id}">name</span>
                        </div>

                        <div class="product-producer-block">
                            <span class="product-item-info"> / </span>
                            <span class="product-item-info" th:text="${item.item.gender}">gender</span>
                        </div>

                        <div class="product-bottom-block">
                            <span class="product-item-info" th:text="${item.item.price}">price</span>
                        </div>
                    </div>

                </div>
            </a>
            <button class="add-to-bucket-button" onclick="addToBucket(this)">ADD TO BUCKET</button>
        </ul>

    </div>
    <div th:if="${category_page_information.totalPages > 0}" class="pagination" th:each="pageNumber : ${page_count}">
        <a th:href="@{/shop/catalog?page=__${pageNumber}__}" th:text="${pageNumber}"></a>
    </div>

</div>




<div th:replace="includes/footer :: footer">
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function addToBucket(element) {

        var $button = $(element);
        var $container = $button.closest('ul.list-of-items');
        var $find_item_id = $container.find('.item-id');

        var id = $find_item_id.attr('value');


        var token = $("meta[name='_csrf']").attr("content");


        console.log('item id - ', id);

        $.ajax({
            url: '/shop/catalog/add/item/' + id,
            type: 'POST',

            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', token);
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    console.log("Элемент добавлен в корзину");
                }
                if (xhr.status === 226) {
                    console.log("client not authorized");
                    console.log("Ошибка при добавлении элемента в корзину");
                    window.location.href = 'http://localhost:8081/shop/client/login';
                }
            },
            error: function () {
                console.log("Ошибка при отправке запроса");
            }
        });
    }

    function displayAddToCartButton(event) {
        var $ul = $(event.currentTarget);
        var $button = $ul.find('.add-to-bucket-button');

        $ul.css('height', '350px');
        $button.prop('disabled', false);
        $button.css('opacity', '1');
    }

    function hideAddToCartButton(event) {
        var $ul = $(event.currentTarget);
        var $button = $ul.find('.add-to-bucket-button');

        $ul.css('height', '300px');
        $button.prop('disabled', true);
        $button.css('opacity', '0');
    }

</script>


</body>
</html>