<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Configure Address</title>
    <link rel="stylesheet" th:href="@{/client/client_set_address_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">
</head>
<body>

<div th:replace="includes/header :: header"></div>

<div class="main-text-container">
    <p id="main-text">INPUT YOUR LOCAL ADDRESS</p>
</div>


<div class="container">
    <form th:action="@{/shop/client/registration/address}" method="#" th:method="patch" th:object="${newAddress}"
          id="addressForm">

        <div class="inner-container">
            <div class="input-data-container">
                <div class="selection-container">

                    <select class="select-field" id="selected_country" onchange="sendRequest()" required
                            th:field="*{country}">
                        <option value="">-- Select country --</option>
                        <option th:each="country : ${countries}" th:value="${country}" th:text="${country}"></option>
                    </select>

                    <select class="select-field" id="select-city-by-country-name" disabled required th:field="*{city}">
                        <option value="">-- Select city --</option>
                    </select>
                </div>

                <div class="input-container">
                    <input class="input_field" type="text" id="address" th:field="*{address}"
                           placeholder="Input your address" min="3" max="40" required>
                    <input class="input_field" type="text" id="flat" th:field="*{flat}" placeholder="Input your flat"
                           required min="2" max="10">
                    <input class="input_field" type="text" id="postcode" th:field="*{postcode}"
                           placeholder="Input your postcode" required max="15" min="6">
                </div>
            </div>

            <div class="submit-container">
                <p id="submit-skip-text">This step is not important, so you may skip it </p>
                <button id="skip-button" onclick="skip()">SKIP</button>
                <p id="submit-continue-text">Or input you local address</p>
                <button id="submit-address-button" type="submit">CONFIRM</button>
            </div>
        </div>
    </form>

</div>


<div th:replace="includes/footer :: footer"></div>


<script>
    function sendRequest() {
        var selectElement = document.getElementById("selected_country");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var selectedText = selectedOption.textContent;

        console.log("selected country ", selectedText);

        // Очистите второй <select> перед добавлением новых вариантов
        var citySelect = document.getElementById("select-city-by-country-name");
        // citySelect.setAttribute("disabled");
        citySelect.innerHTML = '';


        var xhr = new XMLHttpRequest();

        xhr.open('GET', 'https://countriesnow.space/api/v0.1/countries', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Преобразование ответа в объект JavaScript
                var response = JSON.parse(xhr.responseText);

                var countries = response.data;

                for (var i = 0; i < countries.length; i++) {
                    if (selectedText === countries[i].country) {
                        var countryName = countries[i].country;
                        var cities = countries[i].cities;

                        console.log("Название страны:", countryName);
                        console.log("Список городов:", cities);

                        for (var j = 0; j < cities.length; j++) {
                            citySelect.removeAttribute("disabled");
                            var option = document.createElement("option");
                            option.text = cities[j];
                            option.value = cities[j];
                            citySelect.appendChild(option);
                        }
                    }
                }

                if (citySelect.options.length === 0) {
                    citySelect.innerHTML = '<option value="">No city found in this area</option>';
                    citySelect.disabled = true;
                }

            }
        };

        xhr.send();
    }

    function skip() {

        document.getElementById("selected_country").value = null;
        document.getElementById("select-city-by-country-name").value = null;
        document.getElementById("address").value = '';
        document.getElementById("flat").value = '';
        document.getElementById("postcode").value = '';

        document.getElementById("addressForm").submit();
    }

</script>


</body>
</html>