<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password Recovery Page</title>
    <link rel="stylesheet" th:href="@{/client/client_pass_recovery_style.css}">
    <link rel="stylesheet" th:href="@{/header_style.css}">
    <link rel="stylesheet" th:href="@{/footer_style.css}">


</head>
<body>
<div th:replace="header :: header"></div>


<div class="main-container">

    <p id="recovery-main-text">Write your email to receive the verification code</p>

    <div class="container">
        <form th:action="@{/shop/client/login/passwordrecovery}" method="post">
            <div class="input-container">
                <input class="input_field" type="text" name="client_mail" th:value="${incorrect_mail}">
                <button id="send_button">SEND</button>
            </div>
        </form>

        <h3 id="issue" th:if="${redirection_issue != null}" th:text="${redirection_issue}"></h3>

        <div class="links-container">
            <a class="link" th:href="@{/shop/client/login}">LOG IN</a>
            <a class="link" th:href="@{/shop/client/registration}">CREATE ACCOUNT</a>

        </div>

    </div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>