<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Password</title>
</head>
<body>

<h1>CREATE NEW PASSWORD</h1>
<br>
<p th:text="${client_name}"></p>


<form th:action="@{/shop/client/login/update/password/__${update_password_client_id}__}" method="#" th:method="patch" onsubmit="return checkPasswords()">

    <input type="password" name="new_password" required>

    <input type="password" name="new_password_repeated" required>

    <button>CREATE</button>
</form>


<script>
    function checkPasswords() {
        var newPassword = document.getElementsByName('new_password')[0].value;
        var newPasswordRepeated = document.getElementsByName('new_password_repeated')[0].value;

        if (newPassword === newPasswordRepeated) {
            return true;
        } else {
            alert('Пароли не совпадают');
            return false;
        }
    }
</script>

</body>
</html>