<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>

<div class="client-account-container">

    <div class="personal-information" th:object="${current_client}">
        <div class="block_1">
            <div class="image_block">
                <img class="client_personal_info">
            </div>

            <div class="info_block">
                <p class="client_personal_info"></p>
                <button>Edit</button>
            </div>

        </div>

        <div class="block_2">
            <p id="mail_address"></p>
            <button>Edit</button>
            <p id="phone_number"></p>
            <button>Edit</button>
            <p id="gender"></p>
            <button>Edit</button>

        </div>

    </div>

    <div class="stuff">

        <div class="exchange_rates">


        </div>

        <div class="delivery_info">

        </div>


        <div class="bucket">

        </div>

        <div class="purchases">


        </div>

    </div>

    <div class="remove_account">



    </div>


</div>


</body>
</html>