<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Password</title>
    <link rel="stylesheet" th:href="@{/client/update_password_style.css}">
</head>
<body>


<div class="main-container">
    <h1 id="update-main-text">CREATE NEW PASSWORD</h1>
    <div class="container">
        <form th:action="@{/shop/client/account/__${client_id}__/edit/password}" method="#"
              th:method="patch" onsubmit="return checkPass()">
            <div class="input-container">
                <div class="block">
                    <input class="input_field" type="password" name="new_password" id="password" required
                           placeholder="Create a strong password">
                    <button id="togglePassword" type="button" onclick="viewPasswordFirstField()"></button>

                </div>

                <div class="block">
                    <input class="input_field" type="password" name="new_password_repeated" id="confirmPassword"
                           required
                           placeholder="Repeat your password">
                    <button id="toggleConfirmPassword" type="button" onclick="viewPasswordSecondField()"></button>
                </div>


                <button type="submit" id="update_button">UPDATE</button>
            </div>

        </form>
        <h3 th:if="${issue != null}" th:text="${issue}"></h3>
    </div>
</div>


<script>

    function checkPass() {
        var passwordField = document.getElementById("password");
        var passwordSecondField = document.getElementById("confirmPassword");

        var password_original = passwordField.value;
        var password_confirm = passwordSecondField.value;

        if (password_original === password_confirm) {
            return true;
        } else {
            alert("Password don't match!")
            return false;
        }


    }


    function viewPasswordFirstField() {
        var passwordField = document.getElementById("password");
        var passwordButton = document.getElementById("togglePassword");
        var type = passwordField.getAttribute("type");

        if (type === 'text') {
            passwordField.setAttribute('type', 'password');
            passwordButton.style.backgroundImage = "url('https://cdn.icon-icons.com/icons2/2406/PNG/32/eye_slash_visible_hide_hidden_show_icon_145987.png')"
            console.log("switched to password");
        } else if (type === 'password') {
            passwordField.setAttribute('type', 'text');
            passwordButton.style.backgroundImage = "url('https://cdn.icon-icons.com/icons2/1660/PNG/32/3844476-eye-see-show-view-watch_110339.png')"
            console.log("switched to text");
        }
    }


    function viewPasswordSecondField() {
        var passwordField = document.getElementById("confirmPassword");
        var passwordButton = document.getElementById("toggleConfirmPassword");
        var type = passwordField.getAttribute("type");

        if (type === 'text') {
            passwordField.setAttribute('type', 'password');
            passwordButton.style.backgroundImage = "url('https://cdn.icon-icons.com/icons2/2406/PNG/32/eye_slash_visible_hide_hidden_show_icon_145987.png')"
            console.log("switched to password");
        } else if (type === 'password') {
            passwordField.setAttribute('type', 'text');
            passwordButton.style.backgroundImage = "url('https://cdn.icon-icons.com/icons2/1660/PNG/32/3844476-eye-see-show-view-watch_110339.png')"
            console.log("switched to text");
        }
    }


</script>

</body>

</html>