<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <link rel="stylesheet" th:href="@{/client/client_bucket_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">

    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


</head>
<body>


<div th:replace="includes/header :: header"></div>

<div class="main-container">
    <div class="container">

        <div class="items-block">
            <ul class="list-of-items" th:each="current_item : ${clients_bucket_items}">
                <div class="item">
                    <div class="item-checkbox">
                        <input type="checkbox" name="item-checkbox" id="item-checkbox"
                               onchange="countQuantityAndCoast(this)">
                    </div>

                    <a class="item-link" th:href="@{/shop/catalog/item/__${current_item.item.id}__}"
                       th:value="${current_item.item.id}">
                        <div class="item-image-block">
                            <img class="item-image" th:if="${current_item.item.item.item_image.image == ''}"
                                 th:src="@{/images/default_item_icon.png}">
                        </div>
                        <div class="item-info-block">
                            <div class="item-name-block">
                                <span id="item-name" th:text="${current_item.item.item.name}"></span>
                                <div class="detailed-info">
                                <span class="item-info-text"
                                      th:text="'Category : ' +  ${current_item.item.item.category} + ' / ' + ${current_item.item.item.gender}"></span>
                                    <span class="item-info-text"
                                          th:text=" 'Size : ' + ${current_item.item.item.size}"></span>
                                    <span class="item-info-text"
                                          th:text="'Producer : ' + ${current_item.producer.producer_brand_name}"></span>
                                </div>
                            </div>
                        </div>
                    </a>

                    <div class="item-quantity-block">
                        <button id="button-quantity-operation-minus" onclick="removeOne(this)">-</button>
                        <span class="item-info-text" id="quantity" th:text="${current_item.quantity}"
                              th:value="${current_item.quantity}"></span>
                        <button id="button-quantity-operation-plus" onclick="addOne(this)">+</button>
                    </div>

                    <div class="item-price-block">
                        <span id="item-price" th:text="${current_item.item.item.price}"
                              th:value="${current_item.item.item.price}"></span>
                    </div>
                </div>
            </ul>
        </div>


    </div>

    <div class="buying-block">
        <span class="buying-text"><a id="buying-text-link"
                                     th:href="@{/shop/client/account/__${session.get('global_client').id}__/edit}">EDIT ADDRESS</a></span>
        <span class="buying-text" id="items-text" th:text="'Total quantity : ' + ${clients_bucket_items.size}"></span>
        <span class="buying-text" id="price-text"></span>
        <div class="buying-button-block">
            <button class="buying-button">CONFIRM</button>
        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    var items_quantity = 0;
    var items_price = 0;
    $('#items-text').text('Total quantity : ' + items_quantity);
    $('#price-text').text('Total price : ' + items_price);


    function countQuantityAndCoast(element) {
        var quantity_value = parseInt($(element).closest('.item').find('#quantity').text());
        var price_value = parseFloat($(element).closest('.item').find('#item-price').text());

        if (element.checked) {
            items_quantity += quantity_value;
            items_price += quantity_value * price_value;
            console.log('Item checked');
            updateQuantity(items_quantity);
            updatePrice(items_price);

        } else {
            items_quantity -= quantity_value;
            items_price -= quantity_value * price_value;
            console.log('Item unchecked');
            updateQuantity(items_quantity);
            updatePrice(items_price);
        }

        console.log('Total quantity: ' + items_quantity);
    }

    function updateQuantity(item) {
        $('#items-text').text('Total quantity : ' + item);
    }

    function updatePrice(price) {
        $('#price-text').text('Total quantity : ' + price);

    }

    function updateBucketQuantity(element, quantity) {
        $(element).closest('.item').find("#quantity").text(quantity);
    }

    function addOne(element) {

        var id = $(element).closest('.item').find('.item-link').attr('value');

        var quantity = parseInt($(element).closest('.item').find("#quantity").attr('value'))

        console.log(" current quantity : " + quantity)

        var token = $("meta[name='_csrf']").attr("content");

        console.log('item id - ', id);

        $.ajax({
            url: '/shop/catalog/add/item/' + id,
            type: 'POST',

            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', token);
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    console.log("Элемент добавлен в корзину");
                    quantity++;
                    $(element).closest('.item').find("#quantity").text(quantity);
                }
                if (xhr.status === 226) {
                    console.log("client not authorized");
                    console.log("Ошибка при добавлении элемента в корзину");
                    window.location.href = 'http://localhost:8081/shop/client/login';
                }
            },
            error: function () {
                console.log("Ошибка при отправке запроса");
            }
        });
    }

    var item_quantity = 0;

    function removeOne(element) {

        var id = $(element).closest('.item').find('.item-link').attr('value');
        item_quantity = parseInt($(element).closest('.item').find("#quantity").attr('value'));


        console.log(" current quantity : " + quantity)

        var token = $("meta[name='_csrf']").attr("content");

        console.log('item id - ', id);


        if (quantity === 1) {
            alert("Are you sure you want to remove item from your bucket?");
        }

        $.ajax({
            url: '/shop/catalog/remove/item/' + id,
            type: 'POST',

            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', token);
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 200) {
                    console.log("Элемент удален из  корзины");
                    quantity--;
                    updateBucketQuantity(element, quantity);
                    if (quantity === 0) {
                        window.location.href = location.href;
                    }
                }
                if (xhr.status === 226) {
                    console.log("Ошибка при удалении  элемента из корзину");
                }
            },
            error: function () {
                console.log("Ошибка при отправке запроса");
            }
        });
    }


</script>


</body>
</html>