<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
    <link rel="stylesheet" th:href="@{/client/client_account_style.css}">
    <link rel="stylesheet" th:href="@{/header_style.css}">
    <link rel="stylesheet" th:href="@{/footer_style.css}">


</head>
<body>
<div th:replace="header :: header"></div>

<div class="client-account-container">

    <div class="personal-information" th:object="${current_client}">
        <div class="block_1">
            <div class="image_block">
                <a th:href="@{/shop/client/account/__${current_client.id}__/edit/image}"
                   th:if="${current_client.client_image.image == ''}">
                    <img class="client_personal_info"
                         th:src="@{/images/default-client-icon.jpg}">
                </a>
                <a th:href="@{/shop/client/account/__${current_client.id}__/edit/image}"
                   th:if="${current_client.client_image.image != ''}">
                    <img class="client_personal_info"
                         th:src="@{'data:image/*;base64,'+ ${session.get('global_client').client_image.image}}"/>
                </a>


                <div class="info_block">
                    <p class="client_name" th:text="${current_client.name}"></p>
                </div>

            </div>

        </div>
        <div class="block_2">

            <p id="info-main-text">INFORMATION</p>

            <div class="inner_block_2">

                <div class="phone_mail_block">
                    <div class="mail_block">
                        <label class="labels">Email</label>
                        <p class="inner_info" th:text="${current_client.mail}">test-temp-mail@gmail.com</p>
                    </div>

                    <div class="phone_block">
                        <label class="labels">Phone</label>
                        <p class="inner_info" th:text="${current_client.phone_number}"></p>
                    </div>
                </div>


                <div class="block_3">
                    <div class="delivery_info">
                        <label class="labels">Delivery Information</label>
                        <p class="inner_info" th:if="${address !=null}"
                           th:text="${current_client.address.country} + ',' +  ${current_client.address.city} +  ',' +  ${current_client.address.address} + ' ' +  ${current_client.address.flat} + ' (' + ${current_client.address.postcode} + ')'"></p>
                        <p class="inner_info" th:if="${address == null}">No information</p>
                    </div>
                </div>
            </div>

            <div class="edit-info-button-block">
                <button id="edit-info-button"><a id="edit-account-link"
                                                 th:href="@{/shop/client/account/__${current_client.id}__/edit} ">EDIT</a>
                </button>
            </div>

        </div>
        <div class="stuff">
            <div class="stuff-inner-block">
                <div class="bucket">
                    <a class="link_block" href="https://www.youtube.com/">BUCKET</a>
                </div>

                <div class="purchases">
                    <a class="link_block">PURCHASES</a>
                </div>

                <div class="remove_account">
                    <a class="link_block">REMOVE ACCOUNT</a>

                </div>
            </div>
        </div>
    </div>


</div>


<div th:replace="footer :: footer"></div>


</body>
</html>