<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/client/client_login_style.css}">

</head>
<body>

<div class="login-container">

    <p id="login-main-text">WELCOME BACK!</p>


    <h5 th:if="${issue != null}" th:text="${issue}"></h5>

    <div class="container">

        <form th:action="@{/shop/client/login}" method="post">

            <div class="form-login">

                <input type="text" class="input_field" name="username" th:value="${client_user_name}" required
                       placeholder="robert_den3ro443">
                <br>
                <input type="password" class="input_field" name="password" required maxlength="40"
                       placeholder="Enter you password">

                <br>
                <button id="login-button">Log In</button>
            </div>

        </form>


        <div class="links">
            <a class="redirection-link" th:href="@{/shop/client/passwordrecovery}">Forgot Password?</a>
            <a class="redirection-link" th:href="@{/shop/client/registration}">Create Account</a>
        </div>

    </div>


</div>

</body>

</html>