<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bucket</title>
    <link rel="stylesheet" th:href="@{/client/client_bucket_style.css}">

</head>
<body>


<div class="container">

    <div class="items-block">
        <ul class="list-of-items" th:each="current_item : ${clients_bucket_items}">
            <a class="item-link" th:href="@{/shop/catalog/item/__${current_item.item.id}__}">
                <div class="item">
                    <div class="item-image-block">
                        <img th:if="${current_item.item.item.image.image == ''}"
                             th:src="@{/images/default_item_icon.png}">
                    </div>

                    <div class="item-text-block">
                        <div class="item-name-block">
                            <p th:text="${current_item.item.item.name}"></p>
                        </div>

                        <div class="item-producer-block">
                            <span th:text="${current_item.producer.producer_brand_name}"></span>
                            <span> / </span>
                            <p th:text="${current_item.item.item.gender}"></p>
                        </div>
                        <p th:text="${current_item.item.item.price}"></p>


                    </div>
                    <span th:text="${current_item.quantity}"></span>

                </div>
            </a>

        </ul>
    </div>

</div>


</body>
</html>