<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/client/client_login_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">

</head>
<body>

<div th:replace="includes/header :: header"></div>


<div class="login-container">

    <div class="main-text-container">
        <p id="login-main-text">WELCOME BACK!</p>
        <h5 th:if="${issue != null}" th:text="${issue}"></h5>
    </div>

    <div class="container">
        <form th:action="@{/shop/client/login}"  method="post">

            <div class="form-login">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

                <input type="text" class="input_field" name="username" th:value="${client_user_name}" required
                       placeholder="robert_den3ro443">
                <br>
                <input type="password" class="input_field" name="password" required maxlength="40"
                       placeholder="Enter you password">

                <br>
                <button id="login-button">Log In</button>
            </div>

        </form>


        <div class="links">
            <a class="redirection-link" th:href="@{/shop/client/login/passwordrecovery}">Forgot Password?</a>
            <a class="redirection-link" th:href="@{/shop/client/registration}">Create Account</a>
        </div>

    </div>


</div>


<div th:replace="includes/footer :: footer"></div>


</body>

</html>