<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Account</title>
    <link rel="stylesheet" th:href="@{/client/client_edit_account_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">
</head>
<body>


<div th:replace="includes/header :: header"></div>


<div class="container">


    <form th:action="@{/shop/client/account/__${edit_client.id}__/edit}" method="#" th:method="patch"
          th:object="${edit_client}">

        <div class="inner-container">

            <div class="account-info-container">
                <div class="account-info-text-container">
                    <p class="information-main-text">ACCOUNT INFORMATION</p>
                </div>

                <label class="field-label">NAME : </label>
                <input class="input_field" type="text" th:field="*{name}" placeholder="name" required maxlength="25"
                       th:value="${edit_client.name}">
                <label class="field-label">SECOND NAME: </label>

                <input class="input_field" type="text" th:field="*{second_name}" placeholder="second name" required
                       maxlength="25" th:value="${edit_client.second_name}">

                <label class="field-label">AGE : </label>

                <input class="input_field" type="number" th:field="*{age}" placeholder="age" min="12" max="100" required
                       maxlength="3" th:value="${edit_client.age}"
                       oninput="replaceNumberIfOutOfMax(this),setDefaultZeroIfEmpty(this)">
                <label class="field-label">GENDER : </label>
                <div class="select-gender-container">
                    <select class="select-field" th:field="*{gender}" required>
                        <option th:each="gender : ${T(com.example.mongo_db.Entity.Gender).values()}"
                                th:value="${edit_client.gender}"
                                th:text="${gender}"></option>
                    </select>
                </div>

                <label class="field-label">PHONE NUMBER : </label>

                <input class="input_field" type="tel" th:field="*{phone_number}" placeholder="phone number" min="6"
                       maxlength="12" required oninput="addPlusToNumber(this)" th:value="${edit_client.phone_number}">


            </div>

            <div class="delivery-info-container">
                <div class="account-info-text-container">
                    <p class="information-main-text">DELIVERY INFORMATION</p>
                </div>
                <label class="field-label">COUNTRY : </label>

                <select id="selected_country" class="select-field" required th:field="*{address.country}"
                        onchange="sendRequest()">

                    <div th:if="${edit_client.address.country == null}">
                        <option value="">-- Select country --</option>
                        <option th:each="country : ${countries}" th:value="${country}"
                                th:text="${country}"></option>
                    </div>

                    <div th:if="${edit_client.address.country != null}">
                        <option value="" th:value="${edit_client.address.country}"
                                th:text="${edit_client.address.country}"></option>

                        <option th:each="country : ${countries}" th:value="${country}"
                                th:text="${country}"></option>
                    </div>

                </select>
                <label class="field-label">CITY : </label>

                <select id="select-city-by-country-name" class="select-field" required th:field="*{address.city}">
                    <div th:if="${edit_client.address.city == null}">
                    </div>

                    <div th:if="${edit_client.address.city != null}">
                        <option th:value="${edit_client.address.city}" th:text="${edit_client.address.city}">
                        </option>

                    </div>

                </select>
                <label class="field-label">ADDRESS : </label>
                <input class="input_field" type="text" th:field="*{address.address}"
                       th:value="${edit_client.address.address}"
                       placeholder="Input your address" required min="3" max="40">
                <label class="field-label">FLAT : </label>

                <input class="input_field" type="text" th:field="*{address.flat}" th:value="${edit_client.address.flat}"
                       placeholder="Input your flat" required min="2" max="10">
                <label class="field-label">POSTCODE : </label>
                <input class="input_field" type="text" th:field="*{address.postcode}"
                       th:value="${edit_client.address.postcode}"
                       placeholder="Input your postcode" required max="15" min="6">
            </div>
        </div>

        <div class="link-container">
            <a class="edit-link" th:href="@{/shop/client/account/__${edit_client.id}__/edit/mail}">EDIT MAIL</a>
            <a class="edit-link" th:href="@{/shop/client/account/__${edit_client.id}__/edit/password}">EDIT
                PASSWORD</a>

        </div>
        <div class="submit-container">
            <button id="submit-button" type="submit">SUBMIT</button>
        </div>

    </form>

</div>

<p class="issue-text" th:if="${issue != null}" th:text="${issue}"></p>


<div th:replace="includes/footer :: footer"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var selectElement = document.getElementById("select-city-by-country-name");

        if (selectElement && selectElement.options.length > 0) {
            sendRequest();
            console.log("Есть объекты в select-city-by-country-name");
        } else {
            selectElement.disabled = true
            selectElement.innerHTML = '<option value="">No city found in this area</option>';
            selectElement.value = null;
            console.log("Нет объектов в select-city-by-country-name или элемент не существует");
        }
    });


    function replaceNumberIfOutOfMax(inputElement) {

        if (inputElement.value.startsWith(0) && !inputElement.value.endsWith(0)) {
            inputElement.value = inputElement.value.substring(1, inputElement.value.length);
        }
        if (inputElement.value > 100) {
            inputElement.value = ''
        }
        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }

    function setDefaultZeroIfEmpty(inputElement) {
        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }


    function addPlusToNumber(inputElement) {
        if (inputElement.value.startsWith('+')) {

        }
        if (inputElement.value.startsWith('+') && inputElement.value.endsWith('+')) {
            inputElement.value = '';
        } else if (!inputElement.value.startsWith('+') && !inputElement.value.endsWith('+')) {
            inputElement.value = '+' + inputElement.value;
        }


    }

    function sendRequest() {
        var selectElement = document.getElementById("selected_country");
        var selectedOption = selectElement.options[selectElement.selectedIndex];
        var selectedText = selectedOption.textContent;

        console.log("selected country ", selectedText);

        var citySelect = document.getElementById("select-city-by-country-name");
        citySelect.disabled = false;
        citySelect.innerHTML = '';

        var xhr = new XMLHttpRequest();

        xhr.open('GET', 'https://countriesnow.space/api/v0.1/countries', true);
        xhr.onload = function () {
            if (xhr.status === 200) {
                // Преобразование ответа в объект JavaScript
                var response = JSON.parse(xhr.responseText);

                var countries = response.data;

                for (var i = 0; i < countries.length; i++) {
                    if (selectedText === countries[i].country) {
                        var countryName = countries[i].country;
                        var cities = countries[i].cities;

                        console.log("Название страны:", countryName);
                        console.log("Список городов:", cities);

                        for (var j = 0; j < cities.length; j++) {
                            var option = document.createElement("option");
                            option.text = cities[j];
                            option.value = cities[j];
                            citySelect.appendChild(option);
                        }
                    }
                }

                if (citySelect.options.length === 0) {
                    citySelect.innerHTML = '<option value="">No city found in this area</option>';
                    citySelect.disabled = true;
                }

            }
        };

        xhr.send();
    }

</script>
</body>
</html>