<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/client/client_pass_recovery_verification_style.css}">
    <link rel="stylesheet" th:href="@{/header_style.css}">
    <link rel="stylesheet" th:href="@{/footer_style.css}">
</head>
<body>
<div th:replace="header :: header"></div>


<div class="main-container">

    <h3 class="verification-main-text">We have sent a verification code to your mail</span></h3>
    <p id="promt-text">Check <span id="mail" th:text="${info}">infomail</span> for int</p>

    <div class="container">
        <form th:action="@{/shop/client/login/passwordrecovery/__${client_verification_id}__/verification}"
              method="post">
            <div class="input-container">
                <input class="input_field" type="text" name="user_verification_code" th:value="${incorrect_mail}">
                <button id="send_button">VERIFY</button>
            </div>
        </form>

        <h3 id="issue" th:if="${redirection_issue != null}" th:text="${incorrect_mail}"></h3>

        <div class="links-container">
            <a class="link" th:href="@{/shop/client/login}">LOG IN</a>
            <a class="link" th:href="@{/shop/client/registration}">CREATE ACCOUNT</a>

        </div>

    </div>
</div>

<div th:replace="footer :: footer"></div>

</body>
</html>