
* {
    padding: 0;
    margin: 0;
}

body {
    background: url('/images/static_background.jpg');
    /*background-size: cover;*/
    background-color: #f0f0f0;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    flex: 1 0 auto;
}

.items-block {
    margin: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
}

.item {
    height: 100px;
    text-align: center;
}

.add-to-bucket-button {
    margin-top: 10px;
}

.add-to-bucket-button {
    margin-top: 10px;
}

.product-info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-of-items {
    display: flex;
    flex-direction: column;
    height: 300px;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-radius: 15px;
    background: rgba(121, 2, 28, 0.7);
    transition: height 0.8s ease;
}

.product-image {
    height: 200px;
}

.item-link {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.product-info-block, .product-producer-block,
.product-bottom-block {
    margin-top: 10px;
}

.product-item-info {
    margin-top: 5px;
    font-size: 14px;
    color: white;
    font-family: Arial;
    font-weight: lighter;
    text-decoration: none;
    list-style-type: none;
}

.add-to-bucket-button {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    transition: opacity 0.8s ease;
    margin-bottom: 15px;
}

.pagination-block{
    position: absolute;
    bottom: 20%;
    left: 50%;
    display: flex;
    flex-direction: row;

}
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 5px;

}

.pagination:hover{
    background: rgba(121, 2, 28, 0.7);
    transition: 700ms;
}
.pagination:not(:hover){
    background: rgba(0, 0, 0, 0.4);
    transition: 500ms;
}

.pagination-item{
    font-size: 17px;
    font-family: Arial;
    color: white;
    text-decoration: none;
}


