body {
    width: 100%;
    background: url('/images/static_background.jpg');
    background-color: #f0f0f0;
    min-height: 100vh;
    margin: 0;
}

.container {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    margin: 40px;
    flex: 1 0 auto;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    max-width: 100%;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.list-of-categories {
    list-style-type: none;
    margin: 25px;
    padding: 0;
    display: flex;
}

.category {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category-background-image {
    width: auto;
    height: 200px;
    display: block;
    border-radius: 10px;
}

.category-background-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


