<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new Employee</title>
    <link rel="stylesheet" th:href="@{/add_user_style.css}">
</head>
<body>

<div class="header-text">
    <h1>ADD NEW USER</ADD></h1>
</div>

<div class="container">
    <form th:action="@{/employee/add}" method="post" th:object="${employee}">

        <div class="inner-container">

            <div class="input-fields">
                <input class="input_field" type="text" th:field="*{name}" placeholder="employee name" required

                >
                <br>
                <input class="input_field" type="text" th:field="*{second_name}" placeholder="employee second name"
                       required>
                <br>
                <input class="input_field" type="number" th:field="*{age}" placeholder="employee age" min="18" required
                       oninput="replaceNumberIfOutOfMax(this),setDefaultZeroIfEmpty(this)"
                >
                <br>
                <input class="input_field" type="tel" th:field="*{phone_number}" placeholder="phone number" min="0"
                       maxlength="12" required oninput="addPlusToNumber(this)">
                <br>
                <input class="input_field" type="number" th:field="*{experience}" placeholder="employee age of exp"
                       min="0" required oninput="replaceNumberIfOutOfMax(this),setDefaultZeroIfEmpty(this)">
                <br>
            </div>


            <div class="selection-container">
                <select class="select-field" th:field="*{gender}" required>
                    <option value="">-- Выберите пол --</option>
                    <option th:each="gender : ${T(com.example.mongo_db.Entity.Gender).values()}" th:value="${gender}"
                            th:text="${gender}"></option>
                </select>
                <br>

                <select class="select-field" th:field="*{rank}" required>
                    <option value="">-- Выберите ранг --</option>
                    <option th:each="rank : ${T(com.example.mongo_db.Entity.Rank).values()}" th:value="${rank}"
                            th:text="${rank}"></option>
                </select>
                <br>
                <select class="select-field" th:field="*{post}" required>
                    <option value="">-- Выберите должность --</option>
                    <option th:each="post : ${T(com.example.mongo_db.Entity.Employee.Post).values()}" th:value="${post}"
                            th:text="${post}"></option>
                </select>
                <br>
            </div>

            <div class="submit-container">
                <button id="add-button">ADD</button>
            </div>


        </div>

    </form>

</div>


<div class="links-container">
    <button class="button-link">
        <a class="link" th:href="@{/}">move to main page</a>
    </button>

    <button class="button-link">
        <a class="link" th:href="@{/employee/members}">view all users</a>
    </button>

    <button class="button-link">
        <a class="link" th:href="@{/employee/search}">search</a>
    </button>


</div>


<script>


    function replaceNumberIfOutOfMax(inputElement) {

        if (inputElement.value.startsWith(0) && !inputElement.value.endsWith(0)) {
            inputElement.value = inputElement.value.substring(1, inputElement.value.length);
        }
        if (inputElement.value > 100) {
            inputElement.value = ''
        }
        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }

    function setDefaultZeroIfEmpty(inputElement) {


        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }


    function addPlusToNumber(inputElement) {
        if (inputElement.value.startsWith('+')) {

        } else {
            inputElement.value = '+' + inputElement.value;
        }


    }

</script>

</body>
</html>