<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form th:action="@{/employee/search}" method="post" th:object="${filter}">

        <input type="text" th:field="*{name}" placeholder="employee name">
        <br>
        <input type="text" th:field="*{second_name}" placeholder="employee second name">
        <br>
        <input type="number" th:field="*{age}" placeholder="employee age" min="0" max="100"
               oninput="replaceNumberIfOutOfMax(this),setDefaultZeroIfEmpty(this)">
        <br>
        <select th:field="*{gender}">
            <option value="">-- Выберите пол --</option>
            <option th:each="gender : ${T(com.example.mongo_db.Entity.Gender).values()}" th:value="${gender}"
                    th:text="${gender}"></option>
        </select>
        <br>
        <input type="number" th:field="*{experience}" placeholder="employee age of exp " min="0" max="100 "
               oninput="setDefaultZeroIfEmpty(this),replaceNumberIfOutOfMax(this)">
        <br>
        <select th:field="*{rank}">
            <option value="">-- Выберите ранг --</option>
            <option th:each="rank : ${T(com.example.mongo_db.Entity.Rank).values()}" th:value="${rank}"
                    th:text="${rank}"></option>
        </select>
        <br>
        <select th:field="*{post}">
            <option value="">-- Выберите должность --</option>
            <option th:each="post : ${T(com.example.mongo_db.Entity.Post).values()}" th:value="${post}"
                    th:text="${post}"></option>
        </select>
        <br>

        <button>Filter</button>
    </form>
</div>


<div>
    <ul th:each="members : ${members}">
        <li>
            <p th:text="${members.id}"></p>
            <p th:text="${members.name}"></p>
            <p th:text="${members.second_name}"></p>
            <p th:text="${members.age}"></p>
            <p th:text="${members.gender}"></p>
            <p th:text="${members.experience}"></p>
            <p th:text="${members.rank}"></p>
            <p th:text="${members.post}"></p>
        </li>
    </ul>
</div>


<script>
    function replaceNumberIfOutOfMax(inputElement) {

        if (inputElement.value.startsWith(0) && !inputElement.value.endsWith(0)) {
            inputElement.value = inputElement.value.substring(1, inputElement.value.length);
        }
        if (inputElement.value > 100) {
            inputElement.value = ''
        }
        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }

    function setDefaultZeroIfEmpty(inputElement) {


        if (inputElement.value === '') {
            inputElement.value = '0';
        }
    }


</script>
</body>
</html>