<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/footer_style.css}">

</head>
<body>

<footer class="shop-footer">

    <div class="details-container">
        <div class="my_info-container">
            <p id="about-me-text">About Me!</p>
            <a class="my-links" href="https://github.com/defau1t17">My GitHub</a>
            <a class="my-links" href="https://www.linkedin.com/in/michael-stepushin-40a06b208/">My LinkedIn</a>
            <a class="my-links" href="https://rabota.by/resume/28f08fffff0bf4bb310039ed1f62556363785a">My Rabota.by</a>
            <a class="my-links" href="https://t.me/thebiggestmike">My Telegram</a>
            <a class="my-links" href="https://instagram.com/default_17_?igshid=MzMyNGUyNmU2YQ==">My Instagram</a>
        </div>
        <div class="stack-container">
            <p id="stack-text">Used Technologies</p>
            <label class="stack">Java Spring Boot</label>
            <label class="stack">Java Spring Data/JPA(Mongo DB)</label>
            <label class="stack">Java Message Sender</label>
            <label class="stack">HTML/CSS/JS</label>
        </div>

        <div class="footer-logo-container">
            <img id="footer-logo" th:src="@{/images/logo.png}">
        </div>
    </div>

    <div class="footer-text-container">
        <span id="footer-main-text">This project is made, to show all knowledge that I get in less half a year of learning
            Java Web
            Programming </span>
        <span id="footer-secondary-text">I designed this project just to acquaint with MongoDB, but when I had made my
            tasks harder, I thought why
            can't I make a small project just to train my-self </span>
        <span id="footer-third-text">In the nearest future this footer will be huger with more technologies, because i just
            started</span>
    </div>

</footer>


</body>
</html>