body {
    background: url("https://wallpapercave.com/wp/KPZGQrc.jpg");

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.verification-main-text {
    font-family: Dialog;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 5);
}

.promt-text {
    text-align: center;
    font-family: Dialog;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 20px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 5);

}

.mail {
    text-align: center;

    font-family: Dialog;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 18px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 5);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_field {
    text-align: center;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #79021c;
    opacity: 0.4;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";

}

.send_button {
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

.links-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link {
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 15px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 56);
}

.issue {
    font-size: 17px;
    color: white;
}