
body {
    background: url('/images/static_background.jpg');
    background-color: #f0f0f0;
    min-height: 100vh;
    margin: 0;
}

.header-text {
    display: flex;
    justify-content: center;
    text-align: center;
}


#main-header-text {
    font-family: Dialog;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 5);

}
.main-container{
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    width: 70%;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #3d010e;
    border-radius: 10px;
    flex: 1 0 auto;
}

.registration {
    height: 600px;
    width: 30%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login {
    height: available;
    background-color: #b6042a;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;

    border-radius: 0px 10px 10px 0px;

}

.input_field {
    margin-top: 15px;
    opacity: 0.8;
    width: 350px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    font-family: Times New Roman;
    background: #79021c;
    color: white;
    border: none;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.select-field {
    color: white;
    background: #b6042a;
    justify-content: center;
    align-items: center;
    background: none;
    text-align: center;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    font-size: 17px;
    font-family: "Times New Roman";
    border: none;
    border-bottom: 1px solid #79021c;

}

option {
    background: #b6042a;
}


.select-gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-new-client-confirm {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-new-client-button {
    width: 300px;
    height: 40px;
    background-color: #b6042a;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
    color: white;
    font-size: 17px;
    font-family: "Times New Roman";
}

#login-main-text {
    color: white;
    font-family: "Times New Roman";
}

#login-secondary-text {
    color: white;
    font-family: "Times New Roman";
}

#login-button {
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
    color: white;
    font-size: 17px;
    font-family: "Times New Roman";

}


#login-link {
    text-decoration: none;
    color: white;
    font-size: 17px;
    font-family: "Times New Roman";
}

#login-button:hover {
    opacity: 1;
    transition: 700ms;
    background: #79021c;
}

#login-button:not(:hover) {
    transition: 700ms;
    background-color: #000000;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
    color: white;
}

#create-new-client-button:hover {
    color: white;
    opacity: 1;
    transition: 700ms;
    background: #0f0f0f;
}

#create-new-client-button:not(:hover) {
    transition: 700ms;
    background-color: #b6042a;
    border-radius: 10px;
    border: none;
    opacity: 0.8;
    color: white;
}
