body {
    background: url('/images/static_background.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
}


.login-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.main-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


#login-main-text {
    width: 100%;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 70px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 56);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_field {
    text-align: center;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #79021c;
    opacity: 0.4;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";

}

#login-button {
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

.links {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redirection-link {
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 15px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 56);
}