body {
    background: url("https://wallpapercave.com/wp/KPZGQrc.jpg");
}

.main-container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#update-main-text {
    text-align: center;
    opacity: 0.8;
    color: white;
    font-size: 40px;
    text-shadow: 0 0 15px rgb(245, 5, 56), 0 0 10px rgb(245, 5, 56);

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input_field {
    display: inline-block;
    text-align: center;
    margin-top: 20px;
    width: 500px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: #79021c;
    opacity: 0.4;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
    vertical-align: middle;

}

#update_button {
    margin-top: 30px;
    width: 350px;
    height: 40px;
    background: black;
    color: white;
    font-size: 18px;
    font-family: "Times New Roman";
    border: none;
    border-radius: 10px;
    opacity: 0.7;
}

.block {
    display: flex;
    align-items: center;
}

#togglePassword {
    margin-top: 20px ;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 5px;
    background-image: url("https://cdn.icon-icons.com/icons2/2406/PNG/32/eye_slash_visible_hide_hidden_show_icon_145987.png");
    vertical-align: center;

}

#toggleConfirmPassword {
    margin-top: 20px ;

    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 5px;
    background-image: url("https://cdn.icon-icons.com/icons2/2406/PNG/32/eye_slash_visible_hide_hidden_show_icon_145987.png");

}
