<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">

</head>
<body>

<header class="shop-header">

    <div class="logo-block-link">
        <a th:href="@{/static}"> <img class="header-logo" th:src="@{/images/out_fit_oasis.png}"></a>
    </div>

    <div class="header-links-block">
        <a class="header-link" th:href="@{/shop/catalog}">PRODUCTS</a>
        <a class="header-link" th:href="@{/shop/catalog/categories}">CATEGORIES</a>
        <a class="header-link">HELP</a>
    </div>

    <div class="header-account-link">
        <div class="account-inner-links" th:if="${session.get('global_client') == null}">
            <a class="header-link" th:href="@{/shop/client/registration}">SIGN IN </a>
            <p class="spaced-slash">/</p>
            <a class="header-link" th:href="@{/shop/client/login}">SIGN UP</a>
        </div>

        <div class="account-inner-links" th:if="${session.get('global_client') != null}">
            <a class="header-link" th:href="@{/shop/client/account/__${session.get('global_client').id}__}"
               th:text="${session.get('global_client').name}"></a>
            <a href="account-link" th:href="@{/shop/client/account/__${session.get('global_client').id}__}"
               th:if="${session.get('global_client').client_image.image == ''}"><img
                    class="account-link-logo" th:src="@{/images/default-client-icon.jpg}">
            </a>

            <a href="account-link" th:href="@{/shop/client/account/__${session.get('global_client').id}__}"
               th:if="${session.get('global_client').client_image.image != ''}"><img
                    class="account-link-logo"
                    th:src="@{'data:image/*;base64,'+${session.get('global_client').client_image.image}}">
            </a>

        </div>


    </div>

</header>

</body>
</html>