<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" th:href="@{/stuff/help_style.css}">
    <link rel="stylesheet" th:href="@{/includes/header_style.css}">
    <link rel="stylesheet" th:href="@{/includes/footer_style.css}">
</head>
<body>

<div th:replace="includes/header :: header"></div>


<div class="container">

    <div class="main-text-container">
        <h1 id="main-text">Do you need some help?</h1>
    </div>

    <div class="bug-container">
        <div class="bug-main-text">
            <span class="invocation-text"> Dear Client, if you found a bug, got some troubles in process of using our app, please write the issue
                in
                the
                field
                below
            </span>
        </div>

            <div class="bug-send-block">
                <textarea placeholder="You may describe your issue here :)" name="bug_text" class="input-bug-field" required oninput="removerFirstSpaces(this)">

    </textarea>

        </div>
        <div class="button-block">
            <button type="submit" onclick="beginRequestChain(this)" class="confirmation-bug-button">SEND</button>
        </div>

    </div>

    <div class="producer-container">
        <div class="producer-main-text">
            <span class="invocation-text">
                If you want to become a producer and sell the items of yours, press the button bellow and complete the
                form
            </span>
        </div>
        <div class="producer-redirection-container">
            <button class="confirmation-button">
                <a id="producer-link" th:href="@{/shop/producer/request/form}">
                    I WANT TO BECOME A PRODUCER
                </a>
            </button>
        </div>

    </div>

    <div class="client-qos-container">
        <div class="qos-main-text">
            <span class="invocation-text">If you have some questions or suggestions, please write it bellow :)</span>
        </div>
        <div class="qos-send-block">
            <textarea placeholder="You may describe your issue here :)" class="input-qos-field" oninput="removerFirstSpaces(this)">
            </textarea>
        </div>
        <div class="button-block">
            <button onclick="beginRequestChain(this)" class="confirmation-qos-button">SEND</button>
        </div>

    </div>


    <div id="notification" class="notification">

    </div>

</div>


<div th:replace="includes/footer :: footer"> </div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>


    $(document).ready(function() {
        var $input = $('.input-qos-field');
        var $input_bug = $('.input-bug-field');
        $input_bug.val($input_bug.val().replace(/\s/g, ''));
        $input.val($input.val().replace(/\s/g, ''));
    });

    function removerFirstSpaces(element){
        console.log('on change')
            if (element.value.trim() === '') {
                element.value = '';
            }
    }


    const notification = document.getElementById('notification');

    function showNotification(message, duration) {
        notification.textContent = message;
        notification.style.opacity = '1';

        setTimeout(() => {
            notification.style.opacity = '0';
        }, duration);
    }
    function sendRequest(classname) {
        var token = $("meta[name='_csrf']").attr("content");
        console.log(classname)
        var text;
        var tag;

        if (classname === 'confirmation-bug-button') {
            text = $('.input-bug-field').val();
            tag = "BUG";
            console.log('ready to send some bugsss......')
        } else if (classname === 'confirmation-qos-button') {
            text = $('.input-qos-field').val();
            tag = "CLIENT_QOS";
            console.log('ready to send qos')

        }

        $.ajax({
            url: '/shop/send/request/reports',
            type: 'POST',
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json"
            },
            data: JSON.stringify({
                tag: tag,
                data_inf: text
            }),
            beforeSend: function (xhr) {
                xhr.setRequestHeader('X-CSRF-TOKEN', token);
            },
            success: function (data, textStatus, xhr) {
                if (xhr.status === 201) {
                    showNotification("Your request has been successfully!",2000);
                    console.log('message send')
                }
            },
            error: function () {
                console.log("Ошибка при отправке запроса");
            }

        });
    }

    function getClientStatus() {
        return new Promise(function (resolve, reject) {
            $.ajax({
                url: "/shop/request/api/client/status",
                type: "GET",
                dataType: "json",
                success: function (response) {
                    if (response === "FOUND") {
                        console.log("Client found");
                        resolve(true);
                    } else {
                        console.log("Client not found");
                        resolve(false);
                    }
                },
                error: function (xhr, status, error) {
                    console.error("Something went wrong: " + error);
                    reject(error);
                }
            });
        });
    }

    function beginRequestChain(element) {
        console.log('chain begin');
        getClientStatus()
            .then(function (clientStatus) {
                console.log('got status');
                if (clientStatus) {
                    console.log('authorized')
                    if(element.value.trim() !== ''){
                        sendRequest(element.className.valueOf())
                    }
                    else{
                        showNotification('field should not be empty!', 1500);
                    }
                } else {
                    console.log('not authorized')
                    window.location.href = 'http://localhost:8081/shop/client/login';
                }
            })
            .catch(function (error) {
                console.error("Error: " + error);
            });
    }

</script>


</body>
</html>